*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#mainscreen >div{
    margin-bottom: 50px;
}
#screen{
    width:100%;
    /* border:3px solid red; */
    height:100px;
    display:flex;
    justify-content: space-around;
    padding-top: 15px;
    box-shadow: 5px 10px 2px #fbf9f9;
    position:fixed;
    top: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    /* right: 0; */
}
#screen > div:nth-child(1) {
    width:10%;
    height:60px;
    /* border:2px solid black; */
}
#screen > div:nth-child(1) >img {
    text-align: center;
    /* font-size: 70px; */
    font-weight: 40px;
    padding-left: 40px;
    /* padding-top: 10px; */
    color: mediumvioletred;
    font-family: 'Josefin Sans', sans-serif;
    height:60px;
    width:150px;
}
#screen > div:nth-child(2) {
    width:45%;
    height:60px;
    /* border: 2px solid black; */
}
#screen-tags {
    width:30%;
    height:60px;
    display:flex;
    justify-content:space-around;
    /* justify-content: center; */
    font-size: 15px;
    word-spacing: 3px;
}
#screen-tags > div >h3{
    text-align: center;
    padding-top: 20px;
    font-size:15px;
}
#screen > div:nth-child(3) {
    width: 30%;
    height: 60px;
    padding-right: 30px;
    /* border:2px solid black; */
}
#screen-search{
    display: flex;
}
/* #screen-search >form>button> i{

} */
#screen-search >form>button {
    border:none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
#screen-search > form{
    display:flex;
  
    border-radius:10px;
    background-color: rgb(241, 238, 238);
    width:80%;
    height:30px;
    padding:5px;
    width:90%;
    margin-top: 15px;
    padding-right: 50px;
}
#screen-search > form>input{
    border:none;
    background-color: rgb(241, 238, 238);
    padding-left: 10px;
    width:100%;

   
}
#screen > div:nth-child(4) {
    width:15%;
    height:60px;
   
    
    padding-right: 20px;
    /* border:2px solid black; */
}
#screen-right-tags {
    display:flex;
    justify-content: space-around;
}
#screen-right-tags> div{
    padding-top:15px;
    
}
#screen-right-tags> div >i{
    padding-left: 10px;
    align-items: center;
}
#screen-right-tags> div >h4 {
    margin-top: 5px;
    /* text-align: center; */
}
#slider{
    width:100%;
    height:500px;
    margin-top: 90px;
}
#slider >img{
    width:100%;
    height:100%;
}
.dealhead{
    height:50px;
    width:95%;
    margin:auto;
}
.dealhead >h1{
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
    color: rgb(43, 41, 41);
}
#bestinfomain{
    height:660px;
    width:100%;
    /* border:1px solid red; */
}
#dealinfo{
    height:370px;
    width:100%;
    display: flex;
}
#dealinfo >div{
    height:100%;
    width:15%;
}
#dealinfo >div >img{
    height:100%;
    width:100%;
}
#bestinfo{
    height:330px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#bestinfo > div{
 width:12%;
 height:100%;
}
#bestinfo > div >img{
    width:100%;
    height:100%;
   }
#toppicksinfo{
    height:350px;
    width:100%;
    /* border:1px solid red; */
    display: flex;
}
#toppicksinfo >div{
    width:15%;
    height:100%;
}
#toppicksinfo >div >img{
    height:100%;
    width:100%;
}
#baginfo{
    width:100%;
    height:310px;
    /* border:1px solid red; */
    display: flex;
}
#baginfo >div{
    width:25%;
    height:100%;
}
#baginfo >div >img{
    height:100%;
    width:100%;
}
#baginfo2{
    margin-top:-50px;
    width:100%;
    height:310px;
    /* border:1px solid red; */
    display: flex;
    flex-direction: row-reverse;
}
#baginfo2 >div{
    width:25%;
    height:100%;
}
#baginfo2 >div >img{
    height:100%;
    width:100%;
}
#brandhead{
    height:1205px;
    width:100%;
}
#brandinfo{
    height:400px;
    width:100%;
    /* border:1px solid red; */
    display: flex;
    flex-wrap: wrap;
}
#brandinfo >div{
    width:12.5%;
    height:100%;
}
#brandinfo >div >img{
    width:100%;
    height:100%;
}
#slashedhead{
    height:680px;
    width:100%;
}
#slashedinfo{
    display:flex;
    flex-wrap: wrap;
}
#slashedinfo >div{
    width:14.28%;
    height:340px;
}
#slashedinfo >div > img{
    width:100%;
    height:100%;
}
#buyshead{
    height:630px;
    width:100%;
    /* border:1px solid red; */
}
#buysinfo{
display: flex;
flex-wrap: wrap;
}
#buysinfo > div{
    width:12.5%;
    height:310px;
}
#buysinfo > div >img{
    width:100%;
    height:100%;
}
#luxehead{
    height:650px;
    width:100%;
    /* border:1px solid red; */
}
#luxeinfo {
    height:320px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
}
#luxeinfo > div{
    width:12.5%;
    height:100%;
}
#cardhead{
    height:750px;
    width:100%;
    /* border:1px solid red; */
}
#cards{
    height:430px;
    width:100%;
    /* border:1px solid blue; */
    display: flex;
}
#cards > div{
    width:25%;
    height:100%;
}
#cards > div >img{
    height:100%;
    width:100%;
}
#cardinfo{
height:330px;
width:100%;
/* border:1px solid black; */
display:flex;
}
#cardinfo >div{
    width:15%;
    height:100%;
}
#cardinfo >div > img {
height:100%;
width:100%;
}
#footer{
    height:540px;
    width:100%;
    /* border:1px solid red; */
    background-color: rgb(250,251,252);
    padding-bottom: 50px;
}
.footerhead{
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px
}
#mainfooter{
    width:70%;
    height:100%;
    /* border:1px solid red; */
    margin:auto;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
#footer-1 >p{
    font-size: 20px;
    color:grey;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}
#footer-2 >p{
    font-size: 20px;
    color:grey;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}
#footer-1{
    width:20%;
    height:100%;
    /* border:1px solid red; */
    padding-top: 50px;
}
#footer-2{
    width:20%;
    height:100%;
    /* border:1px solid red; */
    padding-top: 50px;
}
#footer-3{
    width:35%;
    height:100%;
    /* border:1px solid red; */
    padding-top: 50px;
}
#play-stores{
    width:80%;
    height:70px;
    /* border:1px solid blue; */
    display:flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
#play-stores > div {
    width:48%;
    height:100%;
}
#play-stores > div > img {
    width:100%;
    height:100%;
}
#touchicons{
    height:40px;
    width:50%;
    /* border:1px solid blue; */
    display: flex;
    justify-content:space-between;
}
#touchicons >div {
    width:19%;
    height:100%;
}
#touchicons >div >img {
    width:100%;
    height:100%;
}
#footer-4{
    width:30%;
    height:100%;
    /* border:1px solid red; */
    padding-top: 50px;
}
#footer-4 >div{
    display:flex;
    height:60px;
    width:100%;
    /* border:1px solid blue; */
}
#footer-4 >div >div:nth-child(1){
    width:20%;
    height:100%;
}
#footer-4 >div >div:nth-child(1) > img{
    height:100%;
    width:80%;
}
#footer-4 >div >div:nth-child(2){
    width:60%;
    height:100%;
}
#footer-4 >div >div:nth-child(2) >p{
    font-size: 18px;
    color:grey;
    font-family: 'Roboto', sans-serif;
}
#footer-4 >div >div:nth-child(2) >p >b{
    color:black;
    font-family: 'Roboto', sans-serif;
}
#sidebutton{
    height:70px;
    width:20%;
    /* border:1px solid red; */
    background-color: rgb(83,87,102);
    position: fixed;
    transform: rotate(-90deg);
    top:600px;
    right:-170px;
    
}
#sidebutton >p{
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;
    color:white;
    font-family: 'Roboto', sans-serif;
    word-spacing: px;
}
#sidebutton >p >i{
    margin-left: 60px;
    font-size: 40px;
    transform: rotate(33deg);
}
#sidecircle{
    height:80px;
    width:80px;
    /* border:1px solid red; */
    border-radius: 50%;
    background-color: rgb(29,133,252);
    position: fixed;
    top:830px;
    right:20px;
    /* right:-170px; */
    
}
#sidecircle >div{
    height:50px;
    width: 50px;
    /* border:1px solid red; */
    margin-left: 20px;
    margin-top: 18px;
}
#sidecircle >div >i{
    font-size: 45px;
    color:white;
}